.secondaryButton{
    border:2px solid black;
    border-radius: 6px;
    background-color: transparent;
    opacity: 0.5;
    margin-left: 10px;
    padding: 6px;
}
.column{
    border:2px solid black;
    border-radius: 6px;
    background-color: transparent;
    margin-left: 10px;
    padding: 6px;
    width: fit-content;
}
.column input{
    resize: none;
    font-size: large;
    width: 12vw;
}
.buttons{
    display: flex;
    justify-content: space-between;
}
.addColumnButton{
    background-color: green;
    font-size: medium;
    justify-content: left;
}
.cancelColumnButton{
    background-color: red;
    font-size: medium;
}